<div class="d-flex align-items-center justify-content-center">

    <% if Current.user && !Current.user.isMallAd %>
    <div class="container">
        <div class="row py-auto">
            <div class="card mx-3 my-3 col-xl" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contact Tracing Data</h5>
                    <p class="card-text">View here all the contact tracing data of the store</p>
                    <%= link_to "Contact Tracing Data" ,table_path, class: "btn btn-primary"%> 
                </div>
            </div>
       
            <div class="card mx-3 my-3 col-xl " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contact Tracing Form</h5>
                    <p class="card-text">Click the button below to submit a contact tracing form for <%= Current.user.store %></p>
                    <%= link_to "Contact Tracing Results" ,landing_path, class: "btn btn-primary"%> 
                </div>
            </div>
        </div>
    </div>
    <% elsif Current.user %>
    <div class="container">
        <div class="row">
            <div class="card mx-3 my-3 col-xl " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Contact Tracing Data</h5>
                        <p class="card-text">View here all the contact tracing data of all your stores</p>
                        <%= link_to "Contact Tracing Data" ,table_path, class: "btn btn-primary"%> 
                    </div>
            </div>
            <div class="card mx-3 my-3 col-xl " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Flag Infected Customer</h5>
                        <p class="card-text">If there is a customer that contracted COVID-19, use this feature to search those they had come into contact with.</p>
                        <%= link_to "Search for Positive Case" ,flag_path, class: "btn btn-primary"%>
                    </div>
            </div>

        </div>
    </div>
    <% else %>
    </div class= 'container'>
        <div class="row">
            <div class="card mx-4 my-3 col-xl " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sign In</h5>
                    <p class="card-text">Use your credentials to sign in to your store's Contact Tracing Management app.</p>
                    <%= link_to "Sign in", sign_in_path, class: "btn btn-primary"%>
                </div>
            </div>
            <div class="card mx-4 my-3 col-xl " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
                    <p class="card-text">Create an account for your store, or create a mall admin account</p>
                    <%= link_to "Register your Account", sign_up_path, class: "btn btn-primary"%>
                </div>
            </div>
        </div>
    </div>
    <% end %>
<div>