<div class = "container my-3">
<h1> Sign Up </h1>
<p> If you are a mall admin, you may put "n/a" under Store Name </p>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <% if @user.errors.any? %>
        <div class = "alert alert-danger">
            <% @user.errors.full_messages.each do |message| %>
            <div><%= message %> </div>
            <% end %>
        </div>
    <% end %>
    <div class = "mb-3">
        <h4><%= form.label :email %></h4>
        <%= form.text_field :email, class: "form-control", placeholder: "example@example.com" %>
    </div>
    <div class = "mb-3">
        <h4><%= form.label :password %></h4>
        <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class = "mb-3">
        <h4><%= form.label :password_confirmation %></h4>
        <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class = "mb-3">
        <h4><%= form.label :mallAd, "Mall Admin" %></h4>
        <%= form.check_box :mallAd, class: "mx-3 px-3" %>
    </div>
    <div class = "mb-3">
        <h4><%= form.label :store, "Store Name" %></h4> 
        <%= form.text_field :store, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
<% end %>
</div>