<nav class="bg-light mx-auto py-1">
  <div class ="d-flex align-items-center justify-content-center">
      <% if Current.user && !current_page?(landing_path) %>
        <% if Current.user.isMallAd %>
          <div class="container">
            <div class="row">
                <div class = "col-md my-3">
                  <p> You are logged in as a Mall Admin
                  <%= button_to "Logout", logout_path, method: :delete %>
                </div>
            </div>
          </div>
        <% else%>
          <div class="container">
              <div class="row mx-auto my-3">
                <p class = "col"> Logged in as: <%= Current.user.store %> </p>
                <h1 class = 'col'>Trinoma Mall</h1>
                <div class = "col my-3">
                  <%= button_to "Logout", logout_path, method: :delete %>
                </div>
              </div>
          </div>
        <% end %>
      <% else %>
        <% if Current.user %>
        <div class="container" >
          You're current shopping at: <%= Current.user.store %>
        </div>
        <% end %>
      <% end %>     
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <% if !current_page?( landing_path ) %>
      <%= link_to "Home" ,root_path, class: "navbar-brand mx-5"%>  
    <% end %>
  </div>
</nav>